{#
/**
 * @file quizily_quiz.html.twig
 * Default theme implementation to present Quizily Quiz data.
 *
 * This template is used when viewing Quizily Quiz pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_quizily_quiz()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('quizily_quiz') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
